In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
ds = pd.read_csv('desharnais_clean.csv')

In [10]:
ds.head(10)

,Project,TeamExp,ManagerExp,YearEnd,Length,Effort,Transactions,Entities,PointsAdjust,Envergure,PointsNonAjust,Language
0,1.0,1.0,4.0,85.0,12.0,5152.0,253.0,52.0,305.0,34.0,302.0,1.0
1,2.0,0.0,0.0,86.0,4.0,5635.0,197.0,124.0,321.0,33.0,315.0,1.0
2,3.0,4.0,4.0,85.0,1.0,805.0,40.0,60.0,100.0,18.0,83.0,1.0
3,4.0,0.0,0.0,86.0,5.0,3829.0,200.0,119.0,319.0,30.0,303.0,1.0
4,5.0,0.0,0.0,86.0,4.0,2149.0,140.0,94.0,234.0,24.0,208.0,1.0
5,6.0,0.0,0.0,86.0,4.0,2821.0,97.0,89.0,186.0,38.0,192.0,1.0
6,7.0,2.0,1.0,85.0,9.0,2569.0,119.0,42.0,161.0,25.0,145.0,2.0
7,8.0,1.0,2.0,83.0,13.0,3913.0,186.0,52.0,238.0,25.0,214.0,1.0
8,9.0,3.0,1.0,85.0,12.0,7854.0,172.0,88.0,260.0,30.0,247.0,1.0
9,10.0,3.0,4.0,83.0,4.0,2422.0,78.0,38.0,116.0,24.0,103.0,1.0

In [11]:
nRow, nCol = ds.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 81 rows and 12 columns

In [12]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Project         81 non-null     float64
 1   TeamExp         81 non-null     float64
 2   ManagerExp      81 non-null     float64
 3   YearEnd         81 non-null     float64
 4   Length          81 non-null     float64
 5   Effort          81 non-null     float64
 6   Transactions    81 non-null     float64
 7   Entities        81 non-null     float64
 8   PointsAdjust    81 non-null     float64
 9   Envergure       81 non-null     float64
 10  PointsNonAjust  81 non-null     float64
 11  Language        81 non-null     float64
dtypes: float64(12)
memory usage: 7.7 KB